<!DOCTYPE html>
<html lang="en" ng-app="idriveApp" ng-strict-di ng-cloak>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Playground Drive</title>
    <!--<link rel="stylesheet" href="dist/app.bundle.css">-->
    <base href="/">
</head>
<body>
<div ui-view>Playground Drives</div>
<script src="dist/commons.js"></script>
<script src="dist/app.bundle.js"></script>
</body>
</html>